@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold text-white;
  }

  h2 {
    @apply text-xl font-bold p-0 text-white;
  }

  p {
    @apply text-white mt-3;
  }

  .purpose {
    @apply text-lg;
  }

  .learning {
    @apply text-3xl font-bold;
  }

  button {
    @apply border rounded-full px-4 py-2;
  }

  .loadingjs {
    @apply text-3xl font-bold text-white;
  }
}

@layer components {
  .brand {
    @apply text-2xl font-extrabold bg-gradient-to-r from-violet-600 to-indigo-200 bg-clip-text text-transparent transition duration-150 ease-out hover:ease-in cursor-pointer hover:scale-[1.03];
  }

  .card {
    @apply border border-slate-700 border rounded-2xl p-10 h-[280px] bg-gradient-to-r from-indigo-500 drop-shadow-sm hover:drop-shadow-lg transition duration-150 ease-out hover:ease-in hover:scale-[1.03];
  }

  .btn-appreciate {
    @apply text-white;
  }
}
